/*Love the use of comments in your CSS!*/

/*Whole Body Container*/
body {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  background-color: #00264d;
  color: white;
  width: 60em;
}

/*Header Tree Image*/
header {
  background: url('background_trees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*ALL Div's translucent unless I say otherwise. May have to readjust this later.*/
div {
  background-color: #00264d;
  background: linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  background: -webkit-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  background: -moz-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  padding: 10px;
  text-align: center;
}

/*Makes Name Extra Large*/
.name {
  font-size: 3em;
}

/*Increases margin between name-title and navigation bar so image can be seen better.*/
#pic-space {
  margin-bottom: 400px;
}

/*Spaces out items evenly on the top navigation bar.*/
/*Will probably have to make this an inline list instead if I want to make it responsive*/
.nav {
  padding: 0 5%;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #99ccff;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

/*Makes Bio solid background, rather than translucent.*/
#bio {
  background-color: #00264d;
  text-align: left;
  padding: 10px 30px 30px 30px;
  line-height: 200%;
}

/*Stlying for headshot image*/
img {
  float: right;
  border-radius: 10px;
  width: 8em;
  margin-left: 10px;
  margin-bottom: 10px;
  border: solid .1em #1E2E48;
}

/*Styling for TEXT BOX in contact footer section*/
#contact {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

/*Styling for IMAGE underlying the footer text box*/
footer {
  background: url('background_trees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
