body {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  background-color: #ccffff;
}

/*header img {
  display: block;
  margin: 0 auto;
  width: 60em;
  border-radius: 10px;
}*/

header {
  background: url('background_trees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div {
  background-color: #00264d;
  background: linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  background: -webkit-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  background: -moz-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  color: white;
  padding: 10px;
  text-align: center;
}

.name {
  font-size: 3em;
}

#pic-space {
  margin-bottom: 400px;
}

.nav {
  padding: 0 5%;
}

.bio {
  background-color: #00264d;
  text-align: left;
}
