body {
  margin: 0 auto;
  font-family: 'Ubuntu', sans-serif;
  background-color: #00264d;
  color: white;
}

header {
  background: url('background_trees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div {
  background-color: #00264d;
  background: linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  background: -webkit-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  background: -moz-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.80));
  padding: 10px;
  text-align: center;
}

.name {
  font-size: 3em;
}

#pic-space {
  margin-bottom: 400px;
}

.nav {
  padding: 0 5%;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #99ccff;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

#bio {
  background-color: #00264d;
  text-align: left;
  padding: 10px 30px;
  line-height: 200%;
}

img {
  float: right;
  border-radius: 10px;
  width: 8em;
  margin-left: 10px;
  margin-bottom: 10px;
  border: solid .1em #1E2E48;
}

#contact {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  background: linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.70));
  background: -webkit-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.70));
  background: -moz-linear-gradient(top, rgba(0,26,61,.85), rgba(0,26,61,.70));
}

footer {
  background: url('background_trees.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
